POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db_name
POSTGRES_PORT="5433"
# any PORT you want to use,
# just make sure it matches the one in docker-compose.yml and theres no conflict with other services on your machine

TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here